.actors{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2px;
    background: rgba(20, 20, 20, 0.5);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    height: 59px;
    overflow: hidden;
    &-img{
        height: 100%;
        width: 50px;
        border-radius: 30px;
        object-fit: cover;
    }
    &-name{
        padding-right: 15px;
        font-size: 16px;
    }
}