.cardinfo{
    &-item{
        width: 100%;
        height: 700px;
        position: relative;
        overflow: hidden;
        background: #000;
        margin-top: 96px;
        &__bg{
            width: 60%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
        }
        &__content{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            backdrop-filter: blur(15px);
            background: linear-gradient(90deg, #000000 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0) 90%);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 30px 50px;
            &--text{
                max-width: 900px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: flex-start;
                h1{
                    font-size: 50px;
                    line-height: 59px;
                    font-weight: 700;
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            &--tag{
                display: flex;
                align-items: center;
                gap: 10px;
                li{
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.6);
                    font-family: $m;
                }
            }
            &--img{
                width: 310px;
                height: 460px;
                object-fit: cover;
                border-radius: 10px;
            }
            &--actors{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
                p{
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }
        }
        &__btn{
            padding: 10px 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            background: #149A03;
            border-radius: 10px;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            margin-top: 70px;
                      
        }
    }
    &-budget{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 15px;
        &__item{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            h5{
                font-size: 22px;
                line-height: 30px;
                font-weight: 700;
            }
            p{
                font-size: 20px;
                line-height: 30px;
                font-family: $m;
            }
        }
    }
    &-rec{
        &__title{
            margin-bottom: 30px;
            width: 100%;
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
        }
        &__items{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 22px;
        }
    }
}

.trailer{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    z-index: 500;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-enter,
    &-leave{
        &-active{
            transition: all 0.3s;
        }
    }
    &-enter-from,
    &-leave-to{
        transform: scale(3);
        opacity: 0;
    }
    &-close{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: #000;
        box-shadow: 0 0 5px 0 #fff;
        cursor: pointer;
        border: none;
        color: #fff;
        font-size: 25px;
    }
    &-content{
        width: 80%;
        height: 80%;
        box-shadow: 0 0 5px 0 #fff;
        &__video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: #000;
            border: none;
            outline: none;
        }
    }
}